
@{
    ViewData["Title"] = "GetTree";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>上海凯域有限公司</title>
    <link rel="stylesheet" href="~/layui/css/layui.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>


<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" style="color:#191970">
            <div class="layui-logo" style="color:#1E9FFF">上海凯域有限公司</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href=""><i class="layui-icon" style="font-size: 20px; color: #1E9FFF">&#xe673;</i>权限管理</a></li>
                <li class="layui-nav-item"><a href=""><i class="layui-icon" style="font-size: 20px; color: #1E9FFF">&#xe612;</i>用户管理</a></li>
                <li class="layui-nav-item"><a href=""><i class="layui-icon" style="font-size: 20px; color: #1E9FFF">&#xe60a;</i>系统日志</a></li>
                <li class="layui-nav-item"><a href=""><i class="layui-icon" style="font-size: 20px; color: #5FB878">&#xe66f;</i>在线人数</a></li>
                <li class="layui-nav-item"><a href=""><i class="layui-icon" style="font-size: 20px; color: #1E9FFF">&#xe667;</i>系统消息</a></li>
            </ul>



            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        用户
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black" style="color:#191970">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <!--树形菜单-->
                <ul class="layui-nav  layui-nav-tree" id="treetable">
                </ul>

            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->

        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->

        </div>



    </div>


    <script src="~/layui/layui.js"></script>
    <script>
        //文档就绪函数
        $(function () {
            //显示菜单
            $.ajax({
                url: "http://localhost:63453/api/GetTrees",
                type: "get",
                dataType: "text",
                success: function (d) {
                    var json = "";
                    var html = "";
                    //计算成json格式
                    eval("json=" + d);
                    //拼接父级
                    $(json).each(function (i, n) {
                        html += "<li class='layui-nav-item'> ";
                        html += "<a href='javascript:ShowTable(\"" + n.Url + "\")'>" + n.ShuName + "</a>";
                        //拼接子级
                        $(n.ZiJi).each(function (j, k) {
                            html += "<dl class='layui-nav-child'>";
                            html += "<dd><a href='javascript:ShowTable(\"" + k.Url + "\")'>" + k.ShuName + "</a></dd>";
                            html += "</dl>";
                        });
                        html += "</li>";
                    });
                    $("#treetable").append(html);
                    //动态加载(需要重新渲染)
                    RenderPage();
                }
            })
        })
       
        //渲染(静态为动态)
        function RenderPage() {
            layui.use('element', function () {
                var element = layui.element;
                var layFilter = $("#menu").attr('lay-filter');
                element.render('menu', layFilter);
            })
        }

        //调用显示分部视图
        function ShowTable(url) {
            $.ajax({
                url: "http://localhost:63453/api/Add",
                data: { url: url },
                type: "post",
                dataType: "html",
                success: function (d) {
                    $(".layui-body").html(d);
                }
            });
        }
    </script>
</body>
<!--可以把分布页赋过来()-->
<div id="showPage" style="z-index:1">
    
</div>
</html>